h2{
    text-align: center;
    font-size: 35px;
   font-style: italic;

}
div{
    padding: 5%;
    text-align: justify;

}
body{
background-color: rgb(245, 242, 181);
    
}
.rectangulo{
    background-color: aquamarine;
    font-size: 20px;
    text-align: justify;
}
h4{
    font-weight: 100;
    text-align: justify;
    font-size: 20px;
   font-style: oblique;
}
h5{
    text-align: justify;
    font-size: 20px;
   font-style: oblique;
}
h6{
    font-weight: 100;
    text-align: justify;
    font-size: 20px;
   font-style: oblique;
}