.separaciones{
    background-color: rgba(245, 152, 225, 0.672);
    font-size: 20px;
    text-align: justify;
}
div{
    padding: 5%;
    text-align: justify;
    border-radius: 5px;
}
h1{
    text-align: center;
    font-size: 35px;
   font-style: normal;
}
h2{
    text-align: center;
    font-size: 32px;
    font-style: normal;
}
h4{
    font-weight: 100;
    text-align: justify;
    font-size: 20px;
   font-style: normal;
}
h5{
    font-weight: 100;
    text-align: justify;
    font-size: 20px;
   font-style: normal;
}
h6{
    font-weight: 100;
    text-align: justify;
    font-size: 20px;
   font-style: normal;
}
h7{
    font-weight: 100;
    text-align: justify;
    font-size: 20px;
   font-style: normal;
}