*{
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background-color: rgb(176, 206, 247);
}
#cuerpo{
    background-color: rgb(223, 143, 231);
    width: 500px;
    margin: auto;
    color: aliceblue;
    border-radius: 15px;
}
#ventana{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

#botones{
    text-align: center;
    width: 500px;
}

.inputsresultados{
        padding-left: 50px;
}

button{
    border-radius: 2px;
    margin: 15px;
    background-color: rgb(196, 143, 246);
    width: 80px;
    height:30px;
    border-radius: 5px;
    transition: 0.2s;
    border: 1px solid rgb(255, 0, 230);
    color: aliceblue;
}



